<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon ng-md-icon icon="menu"></md-icon>
        </md-button>
        <h3 ng-bind="title"></h3>
        <span flex></span>
        <md-button aria-label="Logout" ng-click="logout()">
            <md-icon ng-md-icon icon="logout"></md-icon>
        </md-button>
    </div>
    <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
            Managed data
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
            Knowledge Base
        </md-tab>
    </md-tabs>
</md-toolbar>

<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="tabpanel"
                 id="tab1-content"
                 aria-labelledby="tab1"
                 ng-switch-when="0"
                 md-swipe-left="next()"
                 md-swipe-right="previous()"
                 layout="row" layout-align="center center">
                <div layout="column" layout-align="center center" flex-gt-sm="90" flex-gt-md="80">
                    <md-card layout="row" flex>
                        <md-card-content layout="row">
                            <md-input-container md-theme="search" class="md-input-container-search">
                                <label>Search</label>
                                <input flex ng-model="query.filter">
                            </md-input-container>
                            <md-button class="md-icon-button md-icon-button-clear-filter" ng-click="removeFilter()"
                                       aria-label="Remove search filter">
                                <md-icon ng-md-icon icon="close"></md-icon>
                            </md-button>
                        </md-card-content>
                    </md-card>
                    <md-card layout="row" flex>
                        <md-card-content>
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools">
                                    <span>Fisheries</span>
                                    <div flex></div>
                                    <md-button class="md-icon-button" ng-click="loadData()" aria-label="Refresh data">
                                        <md-icon ng-md-icon class="md-icon-refresh" icon="refresh"></md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>

                            <md-toolbar class="md-table-toolbar alternate"
                                        ng-show="options.rowSelection && selected.length">
                                <div class="md-toolbar-tools">
                                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                                </div>
                            </md-toolbar>

                            <md-table-container>
                                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
                                       ng-model="selected" md-progress="promise">
                                    <thead ng-if="!options.decapitate" md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="name"><span>Name</span></th>
                                        <th md-column md-numeric md-order-by="coordinate.lat.value"><span>Lat</span>
                                        </th>
                                        <th md-column md-numeric md-order-by="coordinate.lng.value"><span>Lng</span>
                                        </th>
                                        <th md-column><span>Description</span>
                                        </th>
                                        <th md-column><span>Requirements</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="fishery"
                                        md-auto-select="options.autoSelect"
                                        ng-repeat="fishery in rsiFisheries | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell ng-bind="fishery.name"></td>
                                        <td md-cell ng-bind="fishery.lat"></td>
                                        <td md-cell ng-bind="fishery.lng"></td>
                                        <td md-cell ng-bind="fishery.description"></td>
                                        <td md-cell ng-bind="fishery.requirements"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>

                            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions"
                                                 md-page="query.page"
                                                 md-total="{{rsiFisheries.length}}" md-page-select="options.pageSelect"
                                                 md-boundary-links="options.boundaryLinks"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </ng-switch>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="tabpanel"
                 id="tab2-content"
                 aria-labelledby="tab2"
                 ng-switch-when="1"
                 md-swipe-left="next()"
                 md-swipe-right="previous()"
                 layout="row" layout-align="center center">
                <div layout="column" layout-align="center center" flex-gt-sm="90" flex-gt-md="80">
                    <md-card layout="row" flex>
                        <md-card-content layout="row">
                            <md-input-container md-theme="search" style="margin-bottom: 0">
                                <label>Country</label>
                                <md-select ng-model="country.selected">
                                    <md-option ng-repeat="country in countries" ng-value="country"
                                               ng-bind="country.name">
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container md-theme="search" class="md-input-container-search"
                                                style="margin-left:16px;">
                                <label>Search</label>
                                <input flex ng-model="query.filter">
                            </md-input-container>
                            <md-button class="md-icon-button md-icon-button-clear-filter" ng-click="removeFilter()"
                                       aria-label="Remove search filter">
                                <md-icon ng-md-icon icon="close"></md-icon>
                            </md-button>
                        </md-card-content>
                    </md-card>
                    <md-card layout="row" flex>
                        <md-card-content layout="column">
                            <md-toolbar class="md-table-toolbar md-default">
                                <div class="md-toolbar-tools">
                                    <span>Fisheries</span>
                                    <div flex></div>
                                    <md-button class="md-icon-button" ng-click="loadData()" aria-label="Refresh data">
                                        <md-icon ng-md-icon icon="refresh" class="md-icon-refresh"></md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>

                            <md-toolbar class="md-table-toolbar alternate"
                                        ng-show="options.rowSelection && selected.length">
                                <div class="md-toolbar-tools">
                                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                                </div>
                            </md-toolbar>

                            <md-table-container>
                                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
                                       ng-model="selected" md-progress="promise">
                                    <thead ng-if="!options.decapitate" md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="name"><span>Name</span></th>
                                        <th md-column md-numeric md-order-by="coordinate.lat.value"><span>Lat</span>
                                        </th>
                                        <th md-column md-numeric md-order-by="coordinate.lng.value"><span>Lng</span>
                                        </th>
                                        <th md-column><span>Description</span>
                                        </th>
                                        <th md-column><span>Requirements</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row md-select="fishery"
                                        md-auto-select="options.autoSelect"
                                        ng-repeat="fishery in fisheries | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell ng-bind="fishery.name"></td>
                                        <td md-cell ng-bind="fishery.coordinate.lat"></td>
                                        <td md-cell ng-bind="fishery.coordinate.lng"></td>
                                        <td md-cell ng-bind="fishery.description"></td>
                                        <td md-cell ng-bind="fishery.requirements"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>

                            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions"
                                                 md-page="query.page"
                                                 md-total="{{fisheries.length}}" md-page-select="options.pageSelect"
                                                 md-boundary-links="options.boundaryLinks"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </ng-switch>
        <md-fab-speed-dial md-open="demo.isOpen" md-direction="up" class="md-fab-bottom-right"
                           ng-class="open">
            <md-fab-trigger style="display: none;"></md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Delete" class="md-fab md-raised" ng-click="deleteItem($event)"
                           ng-show="options.rowSelection && selected.length && !data.selectedIndex">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Delete</md-tooltip>
                    <md-icon ng-md-icon icon="remove_circle"></md-icon>
                </md-button>
                <md-button aria-label="Update" class="md-fab md-raised" ng-click="updateItem($event)"
                           ng-show="options.rowSelection && selected.length && !data.selectedIndex">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Update</md-tooltip>
                    <md-icon ng-md-icon icon="edit"></md-icon>
                </md-button>
                <md-button aria-label="Add" class="md-fab md-raised" ng-click="addItem($event)">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Add managed fishery</md-tooltip>
                    <md-icon ng-md-icon icon="add_circle"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </ui-view>
</md-content>