<md-dialog flex style="max-width: 100%; max-height: 100%; background-color: #f7f7f7">
    <md-dialog-content class="md-dialog-content" flex>

        <h2 class="md-title" ng-bind="operation"></h2>

        <p ng-if="form.$submitted && form.$invalid" class="md-warn" layout="row" layout-align="start center">
            <span class="error-label">*&nbsp; Please fill in required fields.</span>
        </p>

        <form name="form">
            <div layout="row" class="input-row" style="align-items: center" layout="center center" ng-hide="articles.length === 1">
                <label for="manage-articles" class="leftCenter">Scraped articles: </label>
                <md-select id="manage-articles" class="rightCenter" ng-model="selected.article"
                           aria-label="Scraped articles">
                    <md-option ng-repeat="article in articles" ng-value="article"
                               ng-bind="article.title">
                    </md-option>
                </md-select>
            </div>
            <div layout="row" class="input-row" style="align-items: center" layout="center">
                <label for="manage-image" class="leftCenter">Associated image: </label>
                <input id="manage-image" name="image" class="rightCenter" ng-model="selected.article.image">
            </div>
            <div layout="row" class="input-row" style="align-items: center; margin: auto" layout="center">
                <img ng-src="{{selected.article.image}}" ng-hide="!selected.article.image"/>
            </div>
            <br/>
            <div layout="row" class="input-row">
                <md-input-container flex style="margin-bottom: -1.5em">
                    <label for="manage-name">Title</label>
                    <input id="manage-name" name="title" ng-model="selected.article.title" required>
                </md-input-container>
            </div>
            <div layout="row" class="input-row" style="background-color: #fff">
                <md-input-container flex style="margin-top: 0">
                    <div text-angular ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group"
                         ta-toolbar-button-class="md-raised md-cornered toolbar-button"
                         ta-toolbar-active-button-class="active" aria-label="Text Editor"
                         ta-toolbar="[['h1','h3','h6', 'p', 'quote','bold','italics','justifyLeft','justifyCenter', 'justifyFull', 'insertLink','insertImage','insertVideo','html']]"
                         ng-model="selected.article.description"></div>
                </md-input-container>
            </div>
            <div layout="row" class="input-row">
                <md-input-container flex>
                    <label for="manage-requirements">Copyright info</label>
                    <textarea id="manage-requirements" name="author" ng-model="selected.article.author"></textarea>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.manageItem()" ng-disabled="form.$invalid"
                   ng-bind="operationConfirm" aria-label="Confirm"></md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()" aria-label="Cancel">Cancel</md-button>
    </md-dialog-actions>

</md-dialog>