@gray: #eaeaea;

.social-button-label {
  padding-left: 4px;
}

.index-button {
  width: 200px;
}

.md-button.md-default-theme.md-raised.index-button:not([disabled]):hover, .md-button.md-raised.index-button:not([disabled]):hover {
  width: 200px;
  background-color: @gray;
}

md-content.md-default-theme {
  background-color: @gray;
}

md-divider {
  color: @gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}

.user-avatar {
  border-radius: 99%;
}

.selectedIndex {
  background: lightgray;
}

md-list {
  padding: 0;
}

.md-toolbar-tools {
  padding: 0;
  align-items: stretch;
}

.md-toolbar-tools > h3 {
  padding-left: 16px;
  align-self: center;
}

.md-toolbar-tools > .md-button {
  padding: 0;
  margin: 0;
}

.md-toolbar-tools > .md-button:last-child {
  padding: 0;
  margin: 0;
}