.tabpanel-container > div > div {
    align-items: stretch;
}

.tabpanel-container .md-cut-card-content {
    padding-bottom: 0;
    align-items: stretch;
    flex: 1 1 auto;
}

md-toolbar.md-table-toolbar .md-toolbar-tools .md-icon-refresh,
md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-icon-refresh,
md-toolbar:not(.md-menu-toolbar) .md-icon-refresh {
    fill: #333;
}

.md-input-container-search {
    margin-bottom: 0;
    flex: 1 1 auto;
}

.md-icon-button-clear-filter {
    align-self: center;
}